:root{
    --logo-font: 'Pattaya', sans-serif;
    --text: 'Roboto', sans-serif;
    --laranja: #F27706;
    --branco: #FFFFFF;
    --vermelho: #F01212;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    height: 100vh;
    width: 100%;
    background-size: cover;
    color: var(--branco);
    font-family: var(--text);
    background: linear-gradient(#fc7a00d7 20%, #ffffff);
    background-attachment: fixed;
    overflow-x: hidden;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #0000005b;
    height: 5px;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 12px 24px;
    height: 10.5vh;
}
header p{
    display: grid;
}

/* home */
header p a {
    font-weight: 500;
    font-size: 1.3rem;
}
header p{
    font-size: 0.8rem;
}

header label{
    display: none;
}
header img{
    height:110%;
}
.perfil img{
    border-radius: 50px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: black 1px 1px 2px;
    font-size: 0.9rem;
}

.search{
    background-color: var(--branco);
    padding: 12px;
    border-radius: 8px;
    width: 90%;
    display: flex;
    align-items: center;
}
.search input{
    background-color: transparent;
    border: none;
    height: 100%;
    width: 90%;
}
.search input:focus{
    outline-style: none;
}
.search input::-webkit-input-placeholder{
    font-size: 12px;
    color: rgba(128, 128, 128, 0.685);
}
.search img{
    height: 3.2vh;
}

.search img{
    color: black;
}

.first-page{
    display: grid;
    width: 100%;
    padding-left: 24px;
}
.categorias{
    width: 100%;
    padding-top: 18px;
    overflow-x: hidden;
        gap: 12px;
        display: flex;
        flex-direction: column;
}
.container-categorias{
    display: flex;
    height: 6vh;
    align-items: center;
    gap: 12px;
    overflow-x: scroll;
}
.container-categorias::-webkit-scrollbar{
    display: none;
}
.categorias::-webkit-scrollbar{
    display: none;
}
.container-categorias a{
    height: 100%;
    width: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho);
    border-radius: 10%;
    padding: 11px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.container-categorias a img{
    height: 100%;
}

.user-pizza{
    display: grid;
    grid-template-rows: 50% 50%;
    height: 40vh;
    gap: 0.3vh;
    overflow-x: hidden; 
    padding-top: 18px;
    overflow-y: hidden;
    font-size: 0.85rem;
    letter-spacing: 0.2px;
    width: 100%;
}

/* containers das pizzas, favoritos  */
.user-pizza div div{
    display: flex;
    align-items: center;
    gap: 12px;
    overflow-x: scroll;
    width: 96vw;
    flex-shrink: 0;
}
.user-pizza div div::-webkit-scrollbar{
    display: none;
}
.fav-container{
    height: 12vh;
    width: 90vw;
    overflow-x: scroll;
    padding-right: 5vw;
}

.favoritos{
    gap: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
}
.recomendados{
    gap: 0;
    display: flex;
    flex-direction: column;
}
.display{
    height: 100%;
    max-width: 42vw;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.display img {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}
.fav-container .display span{
    position: relative;
    top: 10%;
    left: -28%;
}
.preco{
    font-size: 0.7rem;
    background-color: var(--vermelho);
    padding: 2px 4px;
    border-radius: 50px;
    color: var(--branco);
    text-shadow: black 1px 1px 2px;
}
.fav-container .display p{
    font-size: 0.72rem;
    background-color: rgba(0, 0, 0, 0.534);
    width: 80%;
    padding: 8px;
    text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    place-self: start;
}

.rec-container{
    display: flex;
    height: 18vh;
    padding-right: 5vw;
    align-items: start;
}
.rec-container .display{
    max-width: 46vw;
    height: 80%;
}
.rec-container .display p{
    font-size: 0.75rem;
    width: 100%;
    position: relative;
    bottom: 12%;
    padding: 8px;
    text-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 1);
}
.rec-container .display span{
    position: relative;
    top: 6%;
    left: -30%;
}

.produtos{
    width: 100%;
}

.section-produto{
    padding: 12px 24px;
    gap: 8px;
    display: grid;
}
.section-produto div{
    color: black;
    text-shadow: none;

}
.bebidas-container{
    display: grid;
    gap: 8px;
}
.bebida{
    display: flex;
    background-color: var(--branco);
    padding: 12px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.418) 4px 1px 6px;
    align-items: end;
    justify-content: space-between;
    height: 10vh;
}
.iconeEtexto{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.bebida img{
    height: 100%;
    width: 14%;
}
.bebida .texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 42px 0px 12px;
}
.bebida p{
    color: gray;
    font-size: 0.8rem;
    width: 100%;
    text-overflow: ellipsis;
}

.menu-mobile{
    background-color: var(--laranja);
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 8vh;
    position: sticky;
    bottom: 0.0001px;
    align-items: center;
    padding: 16px;
}
.menu-mobile a {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-size: 0.8rem;
    font-weight: 300;
    justify-content: center;
    letter-spacing: 0.3px;
}
.menu-link img{
    height: 80%;
}









/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */









@media (min-width: 800px){

    header{
        display: flex;
        justify-content: space-between;
        padding: 24px  24vw 24px 24vw;
        height: 17vh;
    }
    header p{
        height: 100%;
        place-content: center; 
    }

    .search{
        width: 53vw;
        justify-content: space-between;
    }
    
    main{
        padding: 0 48px;
        width: 100%;
    }

    .first-page{
        display: flex;
        width: 100vw;
        padding-left: 24px;
        flex-direction: row-reverse;
        height: 50vh;
        overflow: visible;
        font-size: 1.2rem;
    }
    .picture{
        display: flex;
        align-items: center;
        gap: 12px;
    }
    .picture img{
        height: 80%;
        border-radius: 50px;
    }
     label{
        display: none;
    }

    .categorias{
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        font-size: 1rem;
    }
    .container-categorias{
        display: flex;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        align-items: center;
        gap: 12px;
        flex-direction: column;
        width: 8.2vh;
        padding-right: 5px;
    }
    
    .container-categorias::-webkit-scrollbar {
        width: 2px;
        display: block;
    }
    .container-categorias::-webkit-scrollbar-track {
        display: none;
    }
    .container-categorias::-webkit-scrollbar-thumb {
        background-color: #eb4b4bf5;
        height: 5px;
        width: 2px;
    }
    .container-categorias a{
        height: 7.8vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--vermelho);
        border-radius: 10%;
        padding: 12px;
        box-shadow: rgba(0, 0, 0, 0.048) 4px 1px 6px;
    }
    .container-categorias a img{
        height: 80%;
    }

    .menu-mobile{
display: none;
    }


    .user-pizza{
     display: grid;
     height: 100%;
     grid-template-rows: 1fr 1fr;
     width: 90%;
     padding-left: 48px;
    }
    /* container do display */
    .user-pizza div div{
        height: 16vh;
        width: 100vw;
        overflow-x: scroll;
        flex-shrink: 0;
        flex-basis: max-content;
        flex-grow: 0;
    }
    .recomendados{
        height: 100%;
        display: grid;
    }

    .display{
        width: 16vw;
        height: 100%;
    }
    .rec-container{
        height: 100%;
    }
    .rec-container .display{
        width: 20vw;
        height: 100%;
    }
    .rec-container .display p{
        font-size: 0.8rem;
        width: 100%;
        position: relative;
        bottom: 12%;
        padding: 8px;
    }
    .rec-container .display span{
        position: relative;
        top: -12%;
        left: -28%;
    }

    .produto-container{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .bebida{
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.418) 4px 1px 6px;
        align-items: end;
        justify-content: space-between;
        height: 10vh;
        width: 26vw;
    }
    .bebida img{
        height: 100%;
    }
    .texto{
        width: 20vw;
    }
    .bebidas-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .bebida p{
        color: gray;
        font-size: 0.8rem;
        height: 100%;
        width: 100%;
        display: grid;
        place-content: start;
    }
    .bebida h4{
        font-size: 1rem;
    }
    .iconeEtexto{
        display: flex;
        flex-direction: row;
        height: 100%;
    }

}



