
:root {
    --logo-font: 'Pattaya', sans-serif;
    --most-text: 'Roboto', sans-serif;
    --laranja: #F27706;
    --branco: #FFFFFF;
    --cinza: #747474;
    --cinza_claro: #999999;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--most-text);
    color: var(--cinza);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 40%;
}



picture {
    height: 54%;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-content: center;
    background-size: cover;
    background-position: center;
    padding: 24px;
}


picture a {
    display: grid;
    position: fixed;
}
picture a img{
    height: 3vh;
}

.heart{
    position: absolute;
    right: 32px;
    top: 12%;
}

.info-produto {
    background-color: var(--branco);
    border-radius: 40px;
    padding: 32px 24px;
    position: relative;
    display: grid;
    gap: 4px;
    top: -12%;
}

#fav:checked{
    background-color: #EB3223;
}
h1 {
    font-size: 1.5rem;
    width: 80%;
}


.preco {
    color: #23CB98;
}


.info-produto p {
    font-size: 0.8rem;
    padding: 4px;
    line-height: 1.2rem;
    color: var(--cinza_claro);
}
.avaliacao{
    display: flex;
}

.avaliacao img{
    position: relative;
}
.s2{
    left: -2px;
}
.s3{
    left: -4px;
}
.s4{
    left: -6px;
}
.s5{
    left: -8px;
}

.comentarios {
    padding: 24px;
    top: 24px;
    position: relative;
    overflow-y: scroll;
}


h3 {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1rem;
}

.comentarios .coment-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
}

.comentario {
    background-color: #F5F5F5;
    font-size: 0.8rem;
    padding: 12px;
    display: grid;
    grid-template-rows: 48% 1fr;
    gap: 8px;
    color: var(--cinza_claro);
    border-radius: 8px;
    
}

.comentarios::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}


.comentarios::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}


.comentarios::-webkit-scrollbar-thumb {
    background-color: #0000005b;
    height: 10%;
}


.cabecalho-comentario {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconeEnome{
    display: flex;
}
.iconeEnome img{
    height: 5vh;
}
.info-comentario {
    display: grid;
    height: 100%;
    padding: 8px;
    place-content: center start;
}


.avaliacao-comentario {
    display: flex;
    height: 100%;
    justify-content: end;
    gap: -10px;
}


.avaliacao-comentario img {
    height: 2vh;
}

.titulo-comentario {
    font-weight: 700;
}


@media (min-width: 800px) {


    body {
        background-image: linear-gradient(#f27806ce 60%, #fff3e700);
        overflow: hidden;
        grid-template-rows: 56% 44%;
        padding: 60px;
        padding-bottom: 0;
    }


    .produto {
        display: flex;
        gap: 2vw;
        padding: 32px;
        width: 90%;
        
    }


    picture {
        height: 80%;
    }


    picture a {
        display: grid;
        position: fixed;
    }


    .info-produto {
        background-color: var(--branco);
        border-radius: 0;
        padding: 32px 24px;
        gap: 4px;
        top: 0;

    }


    .info-produto p {
        font-size: 0.9rem;
        padding: 4px 48px 4px 0;
        line-height: 1rem;
    }
    .avaliacao{
        height: 100%;
    }


    .comentarios {
        padding: 0;
        overflow-y: scroll;
        background-color: var(--branco);
        padding: 32px;
        border-radius: 20px;
    }





    h3 {
        display: flex;
        align-items: center;
        gap: 12px;
        padding-bottom: 24px;
        position: fixed;
        background-color: var(--branco);
        width: 90%;
    }

    .comentario {
        background-color: #F5F5F5;
        font-size: 0.8rem;
        padding: 12px;
        display: grid;
        grid-template-rows: 48% 1fr;
        gap: 8px;
    }

}
